# Harbor Frontend Configuration
# Variables prefixed with VITE_ are exposed to your React code.

# The URL of the Authentication API service (now routed through the API Gateway)
VITE_AUTH_API_URL=http://localhost:5053/api/auth
VITE_PROJECT_API_URL=http://localhost:5079/api/projects

# Any other frontend specific public keys or toggles
VITE_ENABLE_ANALYTICS=false
VITE_ENVIRONMENT_API_URL=http://localhost:5292/api/projects
